#include <windows.h>
#include <scrnsave.h>
#include "resource.h"

Plusplus ICON plusplus.ico

Screen BITMAP screen.bmp

STRINGTABLE DISCARDABLE
BEGIN
	1 "RollerCoaster 2000"
END

1001 RCDATA
{
	#include "grass.bmp.rc"
}

1002 RCDATA
{
	#include "metal.tga.rc"
}

1003 RCDATA
{
	#include "panneau.tga.rc"
}

1004 RCDATA
{
	#include "tree.tga.rc"
}

DLG_SCRNSAVECONFIGURE DIALOGEX 16, 11, 201, 240
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "RollerCoaster2000 Settings"
FONT 8, "Helv"
BEGIN
    GROUPBOX        "RollerCoaster Track File", -1, 13, 62, 175, 52, WS_GROUP
    EDITTEXT        IDD_EDIT, 19, 77, 163, 12, ES_AUTOHSCROLL | WS_GROUP, WS_EX_CLIENTEDGE
    PUSHBUTTON      "Browse", IDD_BROWSE, 142, 94, 40, 14
    CHECKBOX        "Random track mode", IDD_RANDOMTRACKS, 19, 130, 162, 10, WS_GROUP | WS_TABSTOP
    GROUPBOX        "RollerCoaster Tracks Directory", -1, 13, 151, 175, 52, WS_GROUP
    EDITTEXT        IDD_EDIT_DIR, 19, 166, 163, 12, ES_AUTOHSCROLL | WS_GROUP, WS_EX_CLIENTEDGE
    PUSHBUTTON      "Browse", IDD_BROWSE_DIR, 142, 183, 40, 14
    DEFPUSHBUTTON   "OK", IDOK, 100, 217, 40, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 151, 217, 40, 14, NOT WS_TABSTOP
    CONTROL         "Screen", -1, "Static", SS_BITMAP | WS_GROUP, 14, 10, 64, 64, WS_EX_CLIENTEDGE
    LTEXT           "RollerCoaster2000 Screen Saver", -1, 73, 20, 115, 12, WS_GROUP
    LTEXT           "by Plusplus", -1, 73, 32, 115, 12, WS_GROUP
END
